<ion-view ng-controller="PricesCtrl as vm">
  <ion-content class="has-header">
    <div class="list">
        <a class="item item-icon-right" ng-repeat="item in vm.items">
            {{item.name}}
            <button class="button button-positive" ng-click="addAmount(item.price)">{{item.price | currency: "€"}}</button>
           <!--  <ion-option-button class="ion-minus-circled"></ion-option-button>
            <ion-option-button class="button-assertive ion-pricetag"></ion-option-button> -->
        </a>
    </div>
  </ion-content>
</ion-view>